/* universal styling */
html {
    background-color: #dbf4e8;
    color: #1f3003;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Franklin", Georgia, serif;
    color: #007e2a;
    margin-bottom: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}

a {
    color: #007e2a;
}

a:hover {
    color: #c206a5;
    text-decoration: none;
}

.content {
    width: 75%;
    margin: auto;
}

/* footer styling */
footer {
    bottom: 0;
    width: 100%;
    height: 80px;
}