<nav>
    <ul class="navbar">
        <li><a class="nav-item" href="guestbook"><h3>Guestbook</h3></a></li>
        <li><a class="nav-item" href="resources"><h3>Resources</h3></a></li>
        <li><a class="nav-item" href="/">
            <h1 style="margin-top: 0; font-family: 'Kirang Haerang', Verdana;">
                Spinthase
            </h1>
        </a></li>
    </ul>
</nav>

<a href="/">
    <abbr title="return home!">
        <img class="nav-home" src="../static/images/atp.png" alt="return home!">
    </abbr>
</a>